# Nsmallest Rule (Done)

In [1]:
pip install dias

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: dias in /home/pranab/.local/lib/python3.10/site-packages (0.1.1)
Requirement already satisfied: pandas>=1.5.1 in /home/pranab/.local/lib/python3.10/site-packages (from dias) (2.2.1)
Requirement already satisfied: astor>=0.8.1 in /home/pranab/.local/lib/python3.10/site-packages (from dias) (0.8.1)
Requirement already satisfied: python-dateutil>=2.8.2 in /home/pranab/.local/lib/python3.10/site-packages (from pandas>=1.5.1->dias) (2.9.0.post0)
Requirement already satisfied: numpy<2,>=1.22.4 in /home/pranab/.local/lib/python3.10/site-packages (from pandas>=1.5.1->dias) (1.22.4)
Requirement already satisfied: pytz>=2020.1 in /usr/lib/python3/dist-packages (from pandas>=1.5.1->dias) (2022.1)
Requirement already satisfied: tzdata>=2022.7 in /home/pranab/.local/lib/python3.10/site-packages (from pandas>=1.5.1->dias) (2024.1)
Requirement already satisfied: six>=1.5 in /usr/lib/python3/dist-packages (from python-dateutil>=2.8.2->pandas>=1.5.1->dias) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [1]:
import pandas as pd
import dias.rewriter
import numpy as np

In [2]:
df = pd.read_csv('data.csv')

In [3]:
# For observing the speedup
df = pd.concat([df] * 1, ignore_index=True)
print(df.shape)
print(df.info())

(1000000, 3)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000000 entries, 0 to 999999
Data columns (total 3 columns):
 #   Column           Non-Null Count    Dtype
---  ------           --------------    -----
 0   pickup_datetime  1000000 non-null  object
 1   passenger_count  1000000 non-null  int64
 2   fare_amount      1000000 non-null  float64
dtypes: float64(1), int64(1), object(1)
memory usage: 22.9+ MB
None

In [4]:
%%time
# DIAS_VERBOSE
orig = df.sort_values(by='passenger_count').head(n=5)
orig.head()

        pickup_datetime  passenger_count  fare_amount
6   2008-09-01 07:45:36                1    73.751819
8   2008-03-16 15:53:41                1    42.352871
12  2008-06-07 09:36:29                1     7.837023
16  2008-06-29 18:03:27                1    89.051942
18  2008-11-11 20:06:03                1    32.169552

### Dias rewrote code:
<br />

```python
orig = df.nsmallest(n=5, columns='passenger_count')
orig.head()

```

CPU times: user 48.6 ms, sys: 17 ms, total: 65.5 ms
Wall time: 64.7 ms

In [5]:
%%time
rewr = df.nsmallest(n=5, columns='passenger_count')
rewr.head()

        pickup_datetime  passenger_count  fare_amount
6   2008-09-01 07:45:36                1    73.751819
8   2008-03-16 15:53:41                1    42.352871
12  2008-06-07 09:36:29                1     7.837023
16  2008-06-29 18:03:27                1    89.051942
18  2008-11-11 20:06:03                1    32.169552

CPU times: user 48.5 ms, sys: 20.8 ms, total: 69.3 ms
Wall time: 67.3 ms

In [6]:
# Checking if the two dataFrames are equal or not
rewr.equals(orig)

True

# Split Rule

In [7]:
import random
import string

In [8]:
df = pd.read_csv('data.csv');

In [9]:
# For observing the speedup
df = pd.concat([df], ignore_index=True)
print(df.shape)

(1000000, 3)

In [10]:
# For testing of the split rule
df['Name'] = 'pranab paul'

In [11]:
df.head()

       pickup_datetime  passenger_count  fare_amount         Name
0  2008-09-01 00:24:32                4     2.061686  pranab paul
1  2008-08-14 07:54:35                3    92.563364  pranab paul
2  2008-12-01 23:25:00                4    80.756279  pranab paul
3  2008-05-13 22:23:04                3    67.995379  pranab paul
4  2008-10-18 01:52:48                2    33.261559  pranab paul

In [12]:
%%time
# DIAS_DISABLE
df[['First_Name', 'Last_Name']] = df['Name'].str.split(' ', expand=True)

CPU times: user 1.38 s, sys: 120 ms, total: 1.5 s
Wall time: 1.5 s

In [13]:
df.head()

,pickup_datetime,passenger_count,fare_amount,Name,First_Name,Last_Name
0,2008-09-01 00:24:32,4,2.061686,pranab paul,pranab,paul
1,2008-08-14 07:54:35,3,92.563364,pranab paul,pranab,paul
2,2008-12-01 23:25:00,4,80.756279,pranab paul,pranab,paul
3,2008-05-13 22:23:04,3,67.995379,pranab paul,pranab,paul
4,2008-10-18 01:52:48,2,33.261559,pranab paul,pranab,paul

In [14]:
%%time
# DIAS_VERBOSE
df[['FirstName', 'LastName']] = df['Name'].str.split(' ', expand=True)

### Dias rewrote code:
<br />

```python
if type(df['Name']) != pd.Series:
    df[['FirstName', 'LastName']] = df['Name'].str.split(' ', expand=True)
else:
    _REWR_targ_0 = []
    _REWR_targ_1 = []
    _REWR_ls = df['Name'].tolist()
    for _REWR_s in _REWR_ls:
        _REWR_spl = _REWR_s.split(' ')
        _REWR_targ_0.append(_REWR_spl[0])
        _REWR_targ_1.append(_REWR_spl[1] if len(_REWR_spl) > 1 else None)
    df['FirstName'] = _REWR_targ_0
    df['LastName'] = _REWR_targ_1

```

CPU times: user 371 ms, sys: 9.78 ms, total: 381 ms
Wall time: 380 ms

In [15]:
df.head()

,pickup_datetime,passenger_count,fare_amount,Name,First_Name,Last_Name,FirstName,LastName
0,2008-09-01 00:24:32,4,2.061686,pranab paul,pranab,paul,pranab,paul
1,2008-08-14 07:54:35,3,92.563364,pranab paul,pranab,paul,pranab,paul
2,2008-12-01 23:25:00,4,80.756279,pranab paul,pranab,paul,pranab,paul
3,2008-05-13 22:23:04,3,67.995379,pranab paul,pranab,paul,pranab,paul
4,2008-10-18 01:52:48,2,33.261559,pranab paul,pranab,paul,pranab,paul

In [16]:
df['First_Name'].equals(df['FirstName'])

True

# Concatenate pandas series (Done)

In [17]:
%%time
# DIAS_VERBOSE
pd.Series(df['FirstName'].tolist() + df['LastName'].tolist())

0          pranab
1          pranab
2          pranab
3          pranab
4          pranab
            ...
1999995      paul
1999996      paul
1999997      paul
1999998      paul
1999999      paul
Length: 2000000, dtype: object

### Dias rewrote code:
<br />

```python
pd.concat([df['FirstName'], df['LastName']], ignore_index=True)

```

CPU times: user 40.3 ms, sys: 8.13 ms, total: 48.4 ms
Wall time: 47.1 ms

In [18]:
%%time
# DIAS_VERBOSE
pd.Series(df['FirstName'].tolist() + df['LastName'].tolist() + df['Name'].tolist())

0               pranab
1               pranab
2               pranab
3               pranab
4               pranab
              ...
2999995    pranab paul
2999996    pranab paul
2999997    pranab paul
2999998    pranab paul
2999999    pranab paul
Length: 3000000, dtype: object

### Dias did not rewrite code

CPU times: user 354 ms, sys: 52.9 ms, total: 407 ms
Wall time: 404 ms

# Rewriting Function

In [20]:
dataF = pd.read_csv('data.csv');

In [21]:
m = 50
C = 5.6

In [22]:
%%time
# DIAS_DISABLE
def weighted_rating(x, m=m, C=C):
    v = x['passenger_count']
    R = x['fare_amount']
    return (v/(v+m) * R) + (m/(m+v) * C)
orig = dataF.apply(weighted_rating, axis=1)

CPU times: user 5.26 s, sys: 67.7 ms, total: 5.32 s
Wall time: 5.32 s

In [23]:
%%time
# DIAS_VERBOSE
def weighted_rating(x, m=m, C=C):
    v = x['passenger_count']
    R = x['fare_amount']
    return (v/(v+m) * R) + (m/(m+v) * C)
rewr = dataF.apply(weighted_rating, axis=1)

### Dias rewrote code:
<br />

```python
def weighted_rating(x, m=m, C=C):
    v = x['passenger_count']
    R = x['fare_amount']
    return v / (v + m) * R + m / (m + v) * C
rewr = weighted_rating(dataF)

```

CPU times: user 28.5 ms, sys: 0 ns, total: 28.5 ms
Wall time: 28.3 ms

In [24]:
rewr.equals(orig)

True

# Lambda Function

In [25]:
import pandas as pd
import numpy as np
from ast import literal_eval
import dias.rewriter

In [26]:
md = pd.read_csv('rounakbanik__movie-recommender-systems__movies_metadata.csv', low_memory=False)
print(md.shape)

(4000, 24)

In [27]:
%%time
# DIAS_DISABLE
defa = md.apply(lambda x: pd.Series(x['genres']),axis=1).stack().reset_index(level=1, drop=True)

CPU times: user 403 ms, sys: 12 ms, total: 415 ms
Wall time: 420 ms

### Fetching the series earlier and apply the lambda function on the series only not on dataframe

In [28]:
%%time
# DIAS_VERBOSE
defa = md.apply(lambda x: pd.Series(x['genres']),axis=1).stack().reset_index(level=1, drop=True)

### Dias rewrote code:
<br />

```python
defa = md['genres'].apply(lambda x: pd.Series(x)).stack().reset_index(level
    =1, drop=True)

```

CPU times: user 264 ms, sys: 2.68 ms, total: 267 ms
Wall time: 266 ms

In [29]:
import numpy as np
import pandas as pd
import dias.rewriter

In [30]:
df = pd.read_csv("spscientist__student-performance-in-exams__StudentsPerformance.csv")

In [31]:
df.shape

(1000, 8)

In [32]:
factor = 100
df = pd.concat([df]*factor)
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 100000 entries, 0 to 999
Data columns (total 8 columns):
 #   Column                       Non-Null Count   Dtype
---  ------                       --------------   -----
 0   gender                       100000 non-null  object
 1   race/ethnicity               100000 non-null  object
 2   parental level of education  100000 non-null  object
 3   lunch                        100000 non-null  object
 4   test preparation course      100000 non-null  object
 5   math score                   100000 non-null  int64
 6   reading score                100000 non-null  int64
 7   writing score                100000 non-null  int64
dtypes: int64(3), object(5)
memory usage: 6.9+ MB

In [33]:
passmark = 40
df['Math_PassStatus'] = np.where(df['math score']<passmark, 'F', 'P')
df['Reading_PassStatus'] = np.where(df['reading score']<passmark, 'F', 'P')
df['Writing_PassStatus'] = np.where(df['writing score']<passmark, 'F', 'P')

In [34]:
%%time
# DISABLE_DIAS
defa = df.apply(lambda x : 'F' if x['Math_PassStatus'] == 'F' or 
                x['Reading_PassStatus'] == 'F' or x['Writing_PassStatus'] == 'F' else 'P', axis =1)

CPU times: user 15.2 ms, sys: 1.93 ms, total: 17.1 ms
Wall time: 16.9 ms

In [35]:
%%time
# DIAS_VERBOSE
defa = df.apply(lambda x : 'F' if x['Math_PassStatus'] == 'F' or 
                x['Reading_PassStatus'] == 'F' or x['Writing_PassStatus'] == 'F' else 'P', axis =1)

### Dias rewrote code:
<br />

```python
def _REWR_apply_vec(df):
    if type(df) == pd.DataFrame:
        return pd.Series(np.select([(df['Math_PassStatus'] == 'F') | (df[
            'Reading_PassStatus'] == 'F') | (df['Writing_PassStatus'] ==
            'F')], ['F'], default='P'))
    else:
        return df.apply(lambda x: 'F' if x['Math_PassStatus'] == 'F' or x[
            'Reading_PassStatus'] == 'F' or x['Writing_PassStatus'] == 'F' else
            'P', axis=1)
defa = _REWR_apply_vec(df)

```

CPU times: user 17.6 ms, sys: 184 µs, total: 17.8 ms
Wall time: 17.1 ms

In [36]:
import numpy as np
import pandas as pd
import dias.rewriter

In [37]:
df = pd.read_csv('titanic.csv')

In [38]:
%%time
# DIAS_DISABLE
defa = pd.read_csv('titanic.csv')['Name'].apply(lambda s: 'G' in s)

CPU times: user 3.09 ms, sys: 0 ns, total: 3.09 ms
Wall time: 2.54 ms

In [39]:
%%time
# DIAS_VERBOSE
our = pd.read_csv('titanic.csv')['Name'].apply(lambda s: 'G' in s)

### Dias did not rewrite code

CPU times: user 5.28 ms, sys: 0 ns, total: 5.28 ms
Wall time: 4.76 ms

# nSmallest rule with in a function (Done)

In [40]:
import pandas as pd
import numpy as np
import dias.rewriter

In [41]:
df = pd.DataFrame({'A': [2, 1], 'B': [3, 4]})
df = pd.concat([df] * 5, ignore_index=True)
print(df.head())

   A  B
0  2  3
1  1  4
2  2  3
3  1  4
4  2  3

In [42]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   A       10 non-null     int64
 1   B       10 non-null     int64
dtypes: int64(2)
memory usage: 288.0 bytes

In [43]:
%%time
# DIAS_VERBOSE
def foo():
    y = 2
    return df['A'].sort_values().head(n=y)
    
our = foo()

### Dias rewrote code:
<br />

```python
def foo():
    y = 2
    return df['A'].nsmallest(n=y)
our = foo()

```

CPU times: user 1.58 ms, sys: 998 µs, total: 2.58 ms
Wall time: 2.34 ms

In [44]:
defa.tail()

886    False
887     True
888    False
889    False
890    False
Name: Name, dtype: bool

# nSmallest with particular column (Done)

In [45]:
import pandas as pd
import numpy as np
import dias.rewriter

In [46]:
df = pd.DataFrame({'A': [2, 1], 'B': [3, 4]})
df = pd.concat([df] * 2, ignore_index=True)

In [47]:
df.shape

(4, 2)

In [48]:
df.head()

   A  B
0  2  3
1  1  4
2  2  3
3  1  4

In [49]:
# DIAS_VERBOSE
our = df['A'].sort_values().head(5)

### Dias rewrote code:
<br />

```python
our = df['A'].nsmallest(n=5)

```

In [50]:
our.head()

1    1
3    1
0    2
2    2
Name: A, dtype: int64

# Replace Rule (Done)

In [1]:
import pandas as pd
import numpy as np
import dias.rewriter

In [10]:
popul_df = pd.read_csv("ampiiere__animal-crossing-villager-popularity-analysis__acnh_villager_data.csv")
popul_df = pd.concat([popul_df] * 150000, ignore_index=True)
popul_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 61950000 entries, 0 to 61949999
Data columns (total 3 columns):
 #   Column  Dtype
---  ------  -----
 0   tier    int64
 1   rank    int64
 2   name    object
dtypes: int64(2), object(1)
memory usage: 1.4+ GB

In [21]:
popul_df.head()

   tier  rank     name
0     1     1  Raymond
1     1     2  Marshal
2     1     3    Shino
3     1     4    Sherb
4     1     5    Sasha

In [23]:
popul_df['name'] = popul_df['name'].replace(['Marshal'],"Mars")

/tmp/ipykernel_49441/1736224758.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  popul_df['name'].replace('Marshal', 'Mars', inplace=True)

In [22]:
# DIAS_VERBOSE
# Repeat for correctness
# popul_df = pd.read_csv("./datasets/ampiiere__animal-crossing-villager-popularity-analysis__acnh_villager_data.csv")
popul_df['name'] = popul_df['name'].replace(['Marshal','Raymond'],"Mars")
# popul_df['name'].replace('Marshal', 'Mars', inplace=True)

### Dias did not rewrite code

In [ ]:
popul_df.head()

# Another Rule

In [ ]:
import pandas as pd
import dias.rewriter

In [ ]:
df = pd.read_csv('titanic.csv')

In [ ]:
df.head()

In [ ]:
# DIAS_VERBOSE
# Repeat for correctness testing
default_num_tickets = len(df['Ticket'].unique())
# default_num_cabins = len(df['Cabin'].unique())

# Fuse_in Rule (Done)

In [24]:
import numpy as np
import pandas as pd
import dias.rewriter

In [25]:
file = 'kkhandekar__environmental-vs-ai-startups-india-eda__Startup_Counts_Across_India.csv'
df = pd.read_csv(file)
df = pd.concat([df] * 6000, ignore_index=True)

In [26]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35346000 entries, 0 to 35345999
Data columns (total 5 columns):
 #   Column    Dtype
---  ------    -----
 0   S No.     int64
 1   Year      int64
 2   State     object
 3   Industry  object
 4   Count     int64
dtypes: int64(3), object(2)
memory usage: 1.3+ GB

In [28]:
%%time
# Industry sub-categories for environmental & AI startups
env = ['Agriculture','Renewable Energy']
ai = ['AI','Robotics','Computer Vision']
waste = ['Waste Management']

CPU times: user 927 µs, sys: 360 µs, total: 1.29 ms
Wall time: 1.29 ms

In [29]:
%%time
# DIAS_VERBOSE
our = df.loc[(df['Industry'].isin(env)) | (df['Industry'].isin(ai)) | df['Industry'].isin(waste)].reset_index(drop=True)

### Dias rewrote code:
<br />

```python
our = df.loc[df['Industry'].isin(env + ai) | df['Industry'].isin(waste)
    ].reset_index(drop=True)

```

CPU times: user 1.13 s, sys: 150 ms, total: 1.28 s
Wall time: 1.28 s

In [30]:
%%time
# DIAS_VERBOSE
our = df.loc[(df['Industry'].isin(env)) | (df['Industry'].isin(ai))].reset_index(drop=True)

### Dias rewrote code:
<br />

```python
our = df.loc[df['Industry'].isin(env + ai)].reset_index(drop=True)

```

CPU times: user 929 ms, sys: 106 ms, total: 1.04 s
Wall time: 1.03 s

In [ ]:
our

# Fuse replace and unique

In [ ]:
import pandas as pd
import dias.rewriter

In [ ]:
%%time
# DIAS_VERBOSE
df = pd.read_csv('titanic.csv')
df = pd.concat([df] * 50000, ignore_index=True)
df.info()
# # DIAS_VERBOSE
# our = pd.Series(df['Name'].tolist() + df['Ticket'].tolist())
# print(our.tail())